<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yrj.manageproductrecycler">

    <application
        android:name=".LoginApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Product_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <activity android:name=".Login_Activity">
        </activity>
        <activity android:name=".AddToList_Activity" />
        <activity android:name=".GeneralSettingActivity" />
        <activity android:name=".AccountSettingActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ManageProduct_Activity"/>
    </application>

</manifest>